body {
	background: grey;
}

h1 {
	text-align: center;
	font-size: 40px;
	color: white;
}

.link {
	display: block;
	width: 200px;
	height: 50px;
	margin: 10px;

	text-decoration: none;
	font-size: 32px;
	color: blue;
	border: 1px solid blue;
}

.link_active {
	color: red;
	border: 1px solid red;
}

.first {
	display: inline-block;
}

.big {
	border: 1px solid red;
}

.small {
	width: 100px;
	height: 100px;
	margin: 30px;
	border: 1px solid black;
}

.text1 {
	display: block;
	margin: auto;
}

.nav-links {
	display: flex;
	justify-content: center;
}

.head_info {
	text-align: center;
	font-size: 24px;
}

.info_header, .info_text {
	color: white;
}

.info_text {
	font-size: 20px;
}

.parent_card {
	max-width: 1200px;
	border: 1px solid white;
	margin: 0 auto;
}

.line_card {
	display: flex;
	justify-content: center;
}

.card {
	width: 300px;
	height: 300px;
	border: 1px solid white;
	margin: 30px 10px;
}

.footer {
	margin-top: 50px;
	text-align: center;
}

.auth_form {
	text-align: center;
	margin-top: 70px;
}